body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 400px;
    width: 400px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
}

button {
    margin-bottom: 10px;
}

.intro-text {
    margin-bottom: 10px;
    width: 400px;
    height: auto;
}